$primary-color: #bfbfbf;
$secondary-color: rgb(11, 10, 88);
$border-color: #7f7f7f;

@mixin flex($justifyContent: center, $alignItem: center, $direction: column) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItem;
}
