@import "utilities";
@import "config";
@import "common";


header {
    padding: 10px 10px;
    align-items: center;
    height: 100px;
}

img {
    width: 100%;
}

h1,h2,h3,h4,h5,h6 {
    color: #ffffff;
}

.title {
    @extend %title;
}

main {
    height: calc(100vh - 100px);
}

.content {
    background-color: $primary-color;
    max-width: 750px;
    padding: 50px !important;
    margin: 0 auto;
}

.left-sidebar {
    max-width: 150px;

    div {
        background-color: #203864;
        border: 1px solid #ffffff;
        padding: 10px !important;
    }
}

.label {
    background-color: $primary-color;
    color: #000;
    padding: 5px 25px;
    border-radius: 14px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
}

.content-title h2{
    color: $border-color
}

.company-logo {
    width: 125px;
}