@import "base";

.content {
    .card {
        background-color: $primary-color;
        border-color: $primary-color;

        .profile-picture-wrapper {
            width: 75px;
        }

        .status p {
            margin: 0;
        }
        .card-header {
            background-color: $primary-color;
            border-color: $primary-color;
        }

        .profile-picture {
            width: 50px;
        }

        .card-header, .card-body  {
            padding: 0;
            margin: 0;
        }
    }
}